/* Taken from www.clrs.cc; */

$navy: #001F3F;
$blue: #0074D9;
$aqua: #7FDBFF;
$teal: #39CCCC;
$olive: #3D9970;
$green: #2ECC40;
$lime: #01FF70;
$yellow: #01FF70;
$orange: #FF851B;
$red: #FF4136;
$maroon: #85144B;
$fuchsia: #F012BE;
$purple: #B10DC9;
$white: #FFFFFF;
$silver: #DDDDDD;
$gray: #AAAAAA;
$black: #111111;